.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 300px;
    height: 100vh;
    margin: auto;
    background-color: black;
    border-radius: 10px;
   
}

#res{
    margin-top: 6%;
    color: aliceblue;
    font-size: 1.5em;
   display: flex;
   align-items: center;
   justify-content: flex-end;
    width: 90%;
    height: 2em;
    
    
    
    
    
}


button{
    width: 3em;
    height: 3em;
    font-size: 1.3em;
    font-weight: bolder;
    border-radius: 2em;
    margin: 5px;
    cursor: pointer;
    
    
}

.laranja{
    background-color: #ffa500;
    color: aliceblue;
}

.cinza{
    background-color: darkgray;
}

#igual{
    
    width: 6em;
}